nav {
    font-weight: 500;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding:0 20px;
    z-index: 776;
    @media  #{$small-and-down}{
        box-shadow: none;
        background: rgba(0, 0, 0, 0.1);

    }
    .brand-logo{
        img{
            height: 52px;
            @media  #{$small-and-down}{
                height: 56px;
            }
        }
    }

}


.hero-section-image {
    background-image: url('../images/hotcake.png'),url('../images/logokaxapa.png');


    /* Create the parallax scrolling effect */

    background-attachment: fixed,fixed;
    background-position: center,center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;

    width: 100%;
    height: 100vh;
    @media #{$small-and-down} {
        height: 100vh;
    }

}

.box{
    margin-top: 20px;
}
.text-center{
    text-align: center;
}
.flexibox{
    justify-content: center;

}

.delights-groups{
    padding-top: 2rem;
    padding-bottom: 10rem;
    .delights-section{
        font-family: 'BelindaW00-Regular', sans-serif;
        display: flex;
        width: 100%;

        height: auto;
        margin: 0 auto;
        justify-content: center;
        @media #{$medium-and-up} {
            width: 70%;
        }
        @media #{$large-and-up} {
            width: 40%;
        }

    }
    #delights-footer{
        padding-top: 2rem;
    }
}

#info-food{
    .card-magic{
        overflow: hidden;
        img {
            opacity: .5;
            transform: translate(0,0);
            /*
            Change the opacity value to change how "faded" you want the image to appear when it is not hovered.
            */
            transition: opacity .25s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
    .img-container {
        transition: transform .1s ease;
        background-color: black;
        &:hover{
            transform: scale(1.1);
        }
    }

    .row-reverse{
        display: flex;
        flex-direction: row-reverse;
        @media #{$small-and-down} {
            display: block;
        }
    }
}
.inputsfooter{

    margin-bottom: 0;
    margin-top: 0;

}

#logo2{

    display: block;
    margin: auto;
    padding-top: 150px;

}

#beautiful-picture{
    .mask-img{
        background-color: #404040;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    img {
        opacity: .5!important;
        z-index: 1;
    }
}

#beautiful-picture-2{
    .mask-img{
        background-color: #404040;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    img {
        opacity: .4!important;
        z-index: 1;
    }
}
