@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
/**
 ** Variables
 */

$primary-color: color("green","darken-2");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light{
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #000000;
$success-color: color("green", "base") ;
$error-color: color("red", "base");

$link-color: color("light-blue", "darken-1");

// Forms
$input-border-color: white;
$label-font-size: 1.4rem;

@import "~materialize-css/sass/components/variables";






